#warning {
	border-bottom:1px solid #aaaaaa;
	padding: 10px 0px;
	text-align: center;
	display: block;
}
#preferenceForm {
	margin:0px !important;
	padding:0px !important;
}
.table-striped #preferenceForm td {
	border-bottom: 1px solid #aaaaaa !important;
}
.dark .table-striped #preferenceForm td {
	border-bottom: 1px solid #e6e9e9 !important;
}
.shortcut_label {
	padding-bottom:3px;
	font-weight: bold;
}
.shortcut_modifiers input, .shortcut_modifiers label {
	margin:0 !important;
	padding:0 !important;
}
.shortcut_modifiers label {
    display:inline-block !important;
	margin-right:10px !important;
	margin-left:10px !important;
}
.shortcut_modifiers label:first-child {
	margin-left:0 !important;
}
.shortcut_modifiers > input {
	margin-left:10px !important;
}
.shortcut_modifier_char {
	width:2em !important;
	text-align:center !important;
    position: relative !important;
    bottom: 2px !important;
}
